<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  let socket = io();
  let timers = {};

  const app = Vue.createApp({
    data () {
      return {
        selected: null,
        currTime: 0,
        timers: {}
      }
    },

    methods: {
      setTimers (timers) {
        this.timers = timers;
      },
      editTimers (delta) {
        edit(this.timers, delta);
      },
      setCurrTime (time) {
        this.currTime = time;
      },
      moveSelected (delta) {
        let keys = Object.keys(this.timers);
        let foundIndex = keys.indexOf(this.selected);
        if (foundIndex == -1) {
          if (delta > 0) {
            this.selected = keys[(keys.length + 0) % keys.length];
          } else {
            this.selected = keys[(keys.length + -1) % keys.length];
          }
        } else {
          this.selected = keys[(keys.length + foundIndex + delta) % keys.length]
        }
      },
    },
  });
</script>
<style>
body {
  font-family: monospace;
  padding: 0px;
  margin: 0px;
  font-size: 25px;
  background-color: #222;
  color: #eee;
}

#app {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.flex-table {
  flex: 1 1 auto;
  height: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.names-column {
  flex: 1 1 auto;
  width: 0px;
  margin-right: 10px;
}

.names-column .timer {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.times-column .timer {
  text-align: right;
}

.times-column {
  flex: 0 0 auto;
}

.selected {
  background-color: #f60;
}

.timer {
  animation: created-flash 1s;
}

@keyframes created-flash {
  0% {
    background-color: lime;
  }
  100% {
    background-color: transparent;
  }
}
</style>
<body>
  <div id="app">
    <div style="margin-bottom: 0.5em"><span style="font-size: 1.5em">Time Since Last</span><span style="float: right; color: #666">wiki.ehlab.uk/timer</span></div>
    <div class="flex-table">
      <div class="names-column">
        <template :key="name" v-for="(time, name) in timers">
          <div :class="{ selected: name == selected, timer: true }" :data-name="name" style="font-weight: bold">
            {{name}}
          </div>
        </template>
      </div>
      <div class="times-column">
        <template :key="name" v-for="(time, name) in timers">
          <div class="timer" :data-name="name" v-if="time == null">
            <span>Never</span>
          </div>
          <div class="timer" :data-name="name" v-else>
            <span v-if="(currTime - time) > 60 * 60 * 24">{{(Math.floor((currTime - time) / (60 * 60 * 24))).toString().padStart(6, ' ')}}d, </span>
            <span>{{(Math.floor((currTime - time) / (60 * 60)) % 24).toString().padStart(2, '0')}}</span>:<span>{{(Math.floor((currTime - time) / 60) % 60).toString().padStart(2, '0')}}</span>:<span>{{((currTime - time) % 60).toFixed(3).padStart(6, '0')}}</span>
          </div>
        </template>
      </div>
    </div>
  </div>
  <script>
function edit(dict, delta) {
  if (delta.type == "delete") {
    delete dict[delta.name];
  } else if (delta.type == "set") {
    dict[delta.name] = delta.value;
  }
}

const mounted = app.mount('#app');
console.log("Mounted!");

socket.on("update", newTimers => {
  mounted.setTimers(newTimers);
});

socket.on("edit", delta => {
  mounted.editTimers(delta);
});

window.onload = async () => {
  setInterval(() => {
    let currTime = Date.now() / 1000;
    mounted.setCurrTime(currTime);
  }, 47);

  // When a timer changes, make it flash
  Vue.watch(
    () => mounted.timers,
    (previous, current) => {
      for (k in current) {
        let el = document.querySelector(`.times-column .timer[data-name="${k}"]`);
        if (el == null) continue;
        if (previous[k] == null || previous[k] == current[k]) continue;
        const flash = [{ backgroundColor: "red" }, { backgroundColor: "transparent" }];
        el.animate(flash, { duration: 1000 });
      }
    }
  )

  Vue.watch(
    () => mounted.selected,
    (previous, current) => {
      if (previous == current) return;
      setTimeout(() => {
        let el = document.querySelector(".selected");
        el.scrollIntoView({ behaviour: "smooth", block: "nearest" });
      }, 50);
    }
  )

  document.addEventListener("keydown", async e => {
    if (e.key == "ArrowDown") {
      e.preventDefault();
      mounted.moveSelected(1);
    } else if (e.key == "ArrowUp") {
      e.preventDefault();
      mounted.moveSelected(-1);
    } else if (e.key == "Enter" || e.key == " " || e.key == "a" || e.key == "b") {
      let name = mounted.selected;
      let timestamp = "now";

      let params = new URLSearchParams({ name, timestamp });
      let url = "/reset?" + params.toString();
      let res = await fetch(url);

      console.log(`Url: ${url}\nStatus: ${res.status}\nResponse: ${await res.text()}`);
    }
  })
}
  </script>
</body>
